body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}

button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
    background-color: #00BCD4 
}

#setMessageButton {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
    background-color: #00BCD4;
    color: #fff 
}

#getMessageButton {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
    background-color: #00BCD4;
    color: #fff 
}